.email-list-container {
  width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.email-list-header {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #eee;
  text-align: left;
}

.email-deliver-worm {
  margin: 2em 0;
  margin-right: 0;
}

.email-row {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

.email-row:hover {
  background-color: #565656;
  cursor: pointer;
}

.email-from {
  font-weight: 600;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2rem;
}

.email-snippet {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-subject {
  text-align: left;
  font-weight: bold;
  flex-grow: 1;
  min-width: 350px;
  padding-right: 2em;
}

.email-body-preview {
  color: #888;
  flex-grow: 2;
}

